<html>
    <head>
        <title>Webcam</title>
    </head>
    <body style="background:-webkit-radial-gradient(
        center top,
        farthest-side,
        #5b6977,
        #343b43 40%,
        #22272c 95%,
        #22272c
      ),
      #22272c;
    background-repeat: no-repeat;">
      
        <div style=" background: rgb(118, 130, 156);
        padding: 0.3%;
        border-radius: 20px;
        border-left: 1px solid white;
        border-top: 1px solid white;
        box-shadow: 40px 40px 40px -6px rgba(0, 0, 0, 0.2);
        margin-left:20%;
        width: 40%;
       ">
            <h1 style="   background: rgb(189, 186, 204);
            padding: 0.1em;
            border-radius: 20px;
            border-left: 1px solid white;
            border-top: 1px solid white;
            margin-left: -4em;
            width: 50%;">Last image:</h1>
            <img src="/images/last" style="width: 100%;"/>
            <hr  color="black"
           >
            <a href="/r"><button>Take photo</button></a>
            <a href="/stream" target="blank"><button>Stream</button></a>
        </div>
    </body>
</html>