
<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
   args="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world" respawn="false" output="screen" />


  <!-- include robots -->
  <include file="$(find multi_sim_turtlebot3)/launch/robots.launch"/>
</launch>